/*General styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*styling for the body */
body{
    background: #080808;
    color: #fff;
}

/*styling for header section, used a # before because it is an id of a section on the index file */
#header{
    width:100%;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

/*Adding styleing for the container with the links to other pages on the site */
.container{
    padding: 10px 10%;
}

/*Adding styling to the nav section of the index.html file within the container to make it */
nav{
    display: flex; /*image and links side by side */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Adding styling to the logo */
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block; /*horizontal alignment */
    list-style: none;
    margin: 10px 20px; /*10px from top and bottom and 20px from left and right side */
}

/*style the links on the top of the page, white color and no underline like normal hyperlink*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/*adds red line underneath the links accross the top of the page*/
nav ul li a::after{
    content: '';
    width: 0; /*makes it so that the line you created is not visible */
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s; /*animates the line undernath the links*/
}

nav ul li a:hover::after{
    width: 100%; /*makes line under the link visible */
}

/*styles the header text (my introduction section) on the index.html file*/
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

/*About Section Formatting */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%; /*width of column is 35%*/
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px; /*makes edge of the picture round*/
}
.about-col-2{
    flex-basis: 60%; /*only adds up to 95% with col 1 so 5% space left between*/
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;/*so when mouse is over it turns into the hand pointer*/
    position: relative;
}
.tab-links::after{
    content: '';
    height: 6px;
    width: 0;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;/*Hides all tab contents*/
}
.tab-contents.active-tab{
    display: block;/*reveals only the active tab*/
}

/*Services section formatting*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #ababab;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 05.s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*--------------Formatting for Portfolio Section -----------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}