/*General styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*styling for the body */
body{
    background: #080808;
    color: #fff;
}

/*styling for header section, used a # before because it is an id of a section on the index file */
#header{
    width:100%;
    height: 100vh;
    background-image: url("../background.png");
    background-size: cover;
    background-position: center;
}